
@{
    ViewBag.Title = "category";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="container-fluid">
            <form action="@Url.Action("addCategory")" method="post" class="">
                <h2 class="mb-3">Thêm danh mục sản phẩm</h2>
                <div class="mb-3">
                    <input type="text" name="name" value="" id="name" class="form-control" placeholder="Nhập tên danh mục mới" required />
                    @{
                        if (Session["addcateS"] != null)
                        {
                            ViewBag.addcate = Session["addcateS"].ToString();
                            <p class="small text-success mt-3">@ViewBag.addcate</p>
                        }
                        if (Session["addcateF"] != null)
                        {
                            ViewBag.addcate = Session["addcateF"].ToString();
                            <p class="small text-danger mt-3">@ViewBag.addcate</p>
                        }

                    }

                </div>
                <div class="form-group">
                    <input type="submit" name="okey" value="Thêm danh mục" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>


@{Session["addcateS"] = null;
    Session["addcateF"] = null;
        }
