
@{
    ViewBag.Title = "editCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int stt = 0;
}

<h2 class="mb-3">Chỉnh sửa danh mục</h2>
<div class="container-fluid">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên danh mục</th>
                <th scope="col">Số lượng sản phẩm</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (ViewBag.Cat as List<ShopOnlineSystem.Models.ModelView.CategoryView>))
            {
                stt += 1;
                <tr>
                    <th scope="row">@stt</th>
                    <td>@item.Name</td>
                    <td>@item.ProductCount</td>
                    <td>@Html.ActionLink("Sửa","updateCate","Admin", new {id = item.ID }, null)
                        @if (item.DeleteStatus) {@Html.ActionLink("Xóa","deleteCate","Admin",new { id = item.ID},null) }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
