
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 class="mb-3">Đơn hàng</h2>
<table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Ngày đặt</th>
                    <th scope="col">Khách hàng</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Giao hàng</th>
                    <th scope="col">Thanh toán</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                <!--Dữ liệu bảng order-->
            </tbody>
        </table>



