
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title">
                        <h2>Phản hồi</h2>
                    </div>

                    <form action="@Url.Action("feddBackDAO")" method="post">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="email" class="form-control" id="email" placeholder="Email" value="" readonly>
                            </div>

                            <div class="col-md-6 mb-3">
                                <input type="text" name="typeFB" class="form-control mb-3" id="product" placeholder="Kiểu khiếu nại" value="">
                            </div>
                            <div class="col-12 mb-3">
                                <textarea name="comment" class="form-control w-100" id="comment" cols="30" rows="10" placeholder="Để bình luận ở đây..."></textarea>
                            </div>
                            <div class="col-12">
                                <p class="small text-center text-danger" id="txtValidateUsername">cacacac</p>                               
                            </div>
                            <div class="col-md-6 mb-3">
                                <button type="submit" class="btn amado-btn w-100">Gửi phản hồi</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

