
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix" style="position: relative; height: 1280.16px;">
        @foreach (var item in ViewBag.Prod as List<ShopOnlineSystem.Models.ModelView.ProductView>)
        {
            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix" style="position: absolute;">
                <a href="#">
                    <img src="@Url.Content("~/content/picture/admin/product/")@item.picture" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From @item.price VND</p>
                        <h4>@item.name</h4>
                    </div>
                </a>
            </div>
        }


    </div>
</div>
<!-- Product Catagories Area End -->
