
@{
    ViewBag.Title = "Lịch sử thanh toán";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">           
            <div class="col-12 col-lg-6">
                <h2 class="mt-15">Lịch sử thanh toán</h2>
                <div class="cart-summary">
                    <ul class="summary-table">
                        <li><span>Tên sản phẩm:</span> <span>Cu giả</span></li>
                        <li><span>Tên khách hàng:</span> <span>Việt cà khịa</span></li>
                        <li><span>Địa chỉ:</span> <span>Lê văn lượng</span></li>
                        <li><span>Email:</span> <span>vietcakhia25@gmail.com</span></li>
                        <li><span>Số điện thoại:</span> <span>0123456789</span></li>
                        <li><span>Ngày thanh toán:</span> <span>2/9/2019</span></li>
                        <li><span>Số lượng: </span> <span>10</span></li>
                        <li><span>Giá:</span> <span>100000 VNĐ</span></li>
                        <li><span>Trạng thái:</span> <span>Hoàn thành</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

